<div template name="board">	
	<div>Turn: {game.turn}</div>
	<div>Active Player: <span rv-text="game.activePlayerName < activePlayer"></span></div>
	<br />
	<div rv-each-player="game.players">
		<div>{ player.name }</div>
		<div>Currency { player.currency }</div>
		<br />
		PLAY
		<div class="zone">
			<div class="card" rv-each-card="player.zones.play">
				{ card.name }
				<span>{ card.cost }</span>
				<p>
					{ card.text }
					{ card.id }
				</p>
			</div>
		</div>
		DECK
		<div class="zone">
			<div class="card" rv-each-card="player.zones.deck">
				{ card.name }
				<span>{ card.cost }</span>
				<p>
					{ card.text }
					{ card.id }
				</p>
			</div>
		</div>
		HAND
		<div class="zone">
			<div class="card" rv-each-card="player.zones.hand">
				{ card.name }
				<span>{ card.cost }</span>
				<p>
					{ card.text }
					{ card.id }
				</p>
			</div>
		</div>
		DISCARD
		<div class="zone">
			<div class="card" rv-each-card="player.zones.discard">
				{ card.name }
				<span>{ card.cost }</span>
				<p>
					{ card.text }
					{ card.id }
				</p>
			</div>
		</div>
		<hr />
	</div>
</div>